#saves-container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 30);
}

#loading-bar {
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    border-width: 0;
}

#loading-bar .unity-progress-bar__background {
    background-color: rgb(100, 100, 110);
    border-radius: 10px;
    border-width: 0;
}

#loading-bar .unity-progress-bar__progress {
    background-color: rgb(76, 175, 80);
    border-radius: 10px;
    margin: 0;
}

#loading-bar .unity-label {
    color: white;
    font-size: 14px;
}

#progress-text {
    font-size: 24px;
    color: white;
    -unity-font-style: bold;
    margin-top: 10px;
}

#container {
    background-color: rgb(30, 30, 40);
    border-radius: 10px;
    padding: 20px;
}
